.card {
  max-width: 412px;
  background: linear-gradient(#232a34, #181e27);
  padding: 32px;
  border-radius: 30px;
  @include mobile {
    margin: 0 24px;
  }
  h1 {
    margin-bottom: 7px;
  }
  .favor {
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 50%;
    @include size(48px);
  }
}

.rating {
  display: flex;
  justify-content: space-between;
  label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span {
    display: flex;
    justify-content: center;
    user-select: none;
    align-items: center;
    @include size(51px);
    color: $gray-500;
    border-radius: 50%;
    background-color: $dark-blue;
    transition: 0.5s ease;
  }
}

input[type="radio"] {
  opacity: 0;
  display: block;
  position: absolute;
  cursor: pointer;
  @include size(51px);
  transition: 0.2s ease;
  &:hover ~ span {
    background-color: $gray-500;
    color: $white;
  }
  &:checked ~ span {
    background: $primary-color;
    color: $white;
  }
}

.hint {
  padding: 4px 20px;
  background-color: $dark-blue;
  display: inline-block;
  border-radius: 22.5px;
}

.thank-card {
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
